.StatBox {
    display: inline-block;
    
    background-color: tan;
    border: 2px solid black;
    border-radius: 10px;
}

.StatBoxHeader {
    margin: 10px;
    font-weight: bold;
}

.StatBoxContent {
    margin: 10px;
}
